/* Diwan Sushrut Pramod 1002024368
Gaddam Satyanarayana Reddy 1002024476
Chouti, Sai Chandra 1002022843 */

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
}
.card.shadow-sm{
  margin-top: 10px;
}
.header-sp{
  min-height: 20px;
  min-width: 100%;
  background-color: dar;
  background-position: center;
  background-size: cover;
  position: relative;
}
.nav-sp{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/main.jpg);
}

.row-sp {
  display: flex;
}

.student-profile .card {
  border-radius: 10px;
}
.h1-sp{
  color: black;
}
.student-profile .card .card-header .profile_img {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;

}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}
.mb-0{
  color:black;
}
.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.small-container-sp{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-3-sp{
  flex-basis: 33%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-3-sp img{
  width: 80%;
}

.title-sp{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title-sp::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4{
  color: #555;
  font-weight: normal;
}

.col-3-sp p{
  font-size: 14px;

}

.rating .fa{
  color: #ff523b;
}

.col-3:hover{
  transform: translateY(-5px);
}

.hero-btn-sp{
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 13px;
  background: transperent;
  position: relative;
  cursor: pointer;
  margin: 10px;
}
.hero-btn-sp:hover{
  border: 1px solid rgb(18, 17, 17);
  transition: 1s;
}
.cusomter-profile-py-4{
display: flex;
justify-content: center;
margin-top: 42px;
}
/* .card .shadow-sm {
  display: flex !important;
} */

.wrapper-sp{
position: absolute;
position: sticky;
margin-left: 70%;
right: 30px;
bottom: 85px;
max-width: 400px;
background: #fff;
border-radius: 15px;
box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper-sp .head-text{
 line-height: 60px;
 color: #fff;
 border-radius: 15px 15px 0 0;
 padding: 0 20px;
 background: -webkit-linear-gradient(left, #6f6f6f, #7f38);
}
.chat-box-sp form{
 padding: 10px 15px;
 margin: 20px 0;
 border-radius: 25px;
 border: 1px solid lightgray;
}
.chat-box-sp form .field{
 height: 50px;
 width: 100%;
 margin-top: 20px;
}

.field-sp input,
.field-sp button{
 margin: 5px;
 width: 98%;
 height: 100%;
}

#student td, #student th {
border: 1px solid #ddd;
padding: 8px;
}


#stuent tr:nth-child(even){background-color: #f2f2f2;}

#student tr:hover {background-color: #ddd;}

#student th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: red;
color: white;
}
#student td {
  color: black;
  }
.student-table{
width: 100%;
padding: 20px;
}
#student{
width: 100%;
}
@media(max-width:700px){
  .row {
      display: block;
    }

    .card.shadow-sm{
      display: flex;
      flex-direction: column;
    }
    .cusomter-profile-py-4{
      display: flex;
      justify-content: center;
    }
    .wrapper-sp{
      margin-right: 10px;
      right: 30px;
      bottom: 20px;
      max-width: 400px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
      margin-left: 70px;
    }
    .graph{
      max-width: 290px;
      max-height: auto;
    }
}
